*{
    box-sizing: border-box;
}
:root{
    --main-color: rgb(102, 0, 146);
    --bg-color: rgb(30, 30, 30);
}
.hidden{
    display: none !important;
}
/* me */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
    color: white;
    background-color: rgb(30, 30, 30);
    opacity: 1;
    transition: opacity 300ms;
}
body.loading{
    opacity: 0;
}
#me{
    width: 100%;
    background-image: url("assets/images/me_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#me-content{
    background-color: rgba(0, 0, 0, 0.8);
}
#me-top{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#me-top > .box-name{
    color: whitesmoke;
    border: solid white 1px;
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#name{
    font-weight: bold;
    font-size: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about{
    background-color: var(--main-color);
    color: white;
    padding: 40px;
}
.about > *{
    width: 100%;
}
.about-text{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.about-name{
    font-size: 30;
    font-weight: bold;
}

/* menu */
#menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.menu-child{
    flex-grow: 2;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}
.menu-child:hover{
    background-color: rgb(50, 50, 50);
}
#menu-skills{
    border-left: solid 1px var(--main-color);
    border-right: solid 1px var(--main-color);
}
.menu-active{
    background-color: rgb(40, 40, 40);
}
/* jobs */
#jobs{
    border-left: dotted 5px var(--main-color);
    margin: 20px;
    margin: 0 200px;
}
.job{
    border-left: solid 5px var(--main-color);
    padding: 0 20px;
    position: relative;
    left: -5px;
    margin: 40px 0;
}
.job-name{
    font-size: 40px;
}
.job-location{
    padding-bottom: 20px;
}
.job-startdate, .job-enddate, .job-startdate-point, .job-enddate-point{
    position: absolute;
    left: -175px;
    text-align: right;
    width: 150px;
}
.job-startdate-point, .job-enddate-point{
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    border: solid 5px var(--main-color);
    border-radius: 100%;
    left: -12px;
}
.job-startdate, .job-startdate-point{
    bottom: 0;
}
.job-enddate, .job-enddate-point{
    top: 0;
}
.job-description, .job-tasks, .job-skills{
    padding-bottom: 20px;
}
.job-description-title, .job-task-title, .job-skill-title{
    font-size: 25px;
    padding-bottom: 5px;
}

/* skills */
#skills{
    margin: 20px;
    margin: 0 200px;
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 450px;
    padding: 0 20px;
    left: -5px;
    margin: 10px 0;
}
.skill-name{
    font-size: 25px;
}
.skill-bar{
    position: relative;
    width: 400px;
    margin: 10px 0;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 5px;
}
.skill-point{
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border: solid 5px var(--main-color);
    border-radius: 100%;
    position: absolute;
    top: -8px;
}
.skill-proofs{
    margin-left: 20px;
}
/* projects */
#projects{
    margin: 20px;
    margin: 0 200px;
}
.project{
    background-image: url("assets/images/projects/default.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0;
    border-radius: 10px;
    border: solid 1px var(--main-color);
}
.project-content{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
}
.project-name{
    font-size: 30px;
    padding-bottom: 10px;
}
.project-link{
    padding-bottom: 10px;
}
.project-link > a{
    color: rgb(189, 36, 255);
}
