*{
    box-sizing: border-box;
}
:root{
    --main-color: rgb(102, 0, 146);
    --bg-color: rgb(30, 30, 30);
}

/* me */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
    color: white;
    background-color: rgb(30, 30, 30);
    opacity: 1;
    transition: opacity 300ms;
}
body.loading{
    opacity: 0;
}
#me{
    width: 100%;
    background-image: url("assets/images/me_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#me > .top{
    background-color: #1b1f2b;
    opacity: 0.8;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#me > .top > .box-name{
    color: whitesmoke;
    border: solid white 1px;
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#name{
    font-weight: bold;
    font-size: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about{
    background-color: var(--main-color);
    color: white;
    padding: 40px;
}
.about > *{
    width: 100%;
}
.about-text{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.about-name{
    font-size: 30;
    font-weight: bold;
}
/* jobs */
#jobs{
    border-left: dotted 5px var(--main-color);
    margin: 20px;
    margin-left: 200px;
}
.job{
    border-left: solid 5px var(--main-color);
    padding: 0 20px;
    position: relative;
    left: -5px;
    margin: 40px 0;
}
.job-name{
    font-size: 40px;
}
.job-location{
    padding-bottom: 20px;
}
.job-startdate, .job-enddate, .job-startdate-point, .job-enddate-point{
    position: absolute;
    left: -175px;
    text-align: right;
    width: 150px;
}
.job-startdate-point, .job-enddate-point{
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    border: solid 5px var(--main-color);
    border-radius: 100%;
    left: -12px;
}
.job-startdate, .job-startdate-point{
    bottom: 0;
}
.job-enddate, .job-enddate-point{
    top: 0;
}
.job-description, .job-tasks, .job-skills{
    padding-bottom: 20px;
}
.job-description-title, .job-task-title, .job-skill-title{
    font-size: 25px;
    padding-bottom: 5px;
}

/* skills */
#skills{
    margin: 20px;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 450px;
    padding: 0 20px;
    left: -5px;
    margin: 10px 0;
}
.skill-name{
    font-size: 25px;
}
.skill-bar{
    position: relative;
    width: 400px;
    margin: 10px 0;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 5px;
}
.skill-point{
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    border: solid 5px var(--main-color);
    border-radius: 100%;
    position: absolute;
    top: -8px;
    left: calc(400px / 10 * attr(data-value) - 10px);
}
.skill-proofs{
    margin-left: 20px;
}
/* projects */
#projects{

}